/* css variables*/
:root {
  --primary-color: #432E30;
  --primary-color-light: #8E7474;
  --accent-color: #FE6A6B;
  --accent-color-light: #FFE4E4;
  --accent-color-dark: #B94B4C;
  --white-color: #FFFFFF;
  /*--white-color: #FAFBFC;*/
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #444D56; 
  --bg-color: #FFFFFF;
  --code-bg-color: #F0E8E8;
}

/* normalized */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: white;
}

p {
  font-weight: 300;
  color: #4A4A4A;
}

a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

hr {
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--bg-color);
}

* {
  box-sizing: border-box;
}

/* typography */
.section__title {
  color: var(--primary-color);
}

/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: var(--accent-color);
}

.link--dark {
  color: var(--primary-color);
}

.link--light {
  color: var(--accent-color);
}
.content {
	display: flex;
	flex: 0 0 auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.card {
	cursor: pointer;
	width: calc(50% - 4rem);
	margin: 2rem;
	position: relative;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: ffffff;
	height: 50vh;
	padding: 2rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    overflow: visible;
    border-radius: 3px;
}
@media screen and (max-width:767px) {
.card {
	width: 85vw;
}
}
@media screen and (max-width: 414px) {
.card {
	height: 25vh;
}
}
